html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.heder {
  align-items: center;
  border: solid 1px black;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin: auto;
  width: 80vw;
}

.input_search {
  border: solid 1px;
  border-radius: 18px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 50%;
}

.btn-search {
  margin-left: 15px;
}

.cart_button {
  background: url('./img/icon_carrinho.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 40px;
  overflow: hidden;
  text-indent: -1000%;
  width: 40px;
}

p {
  text-align: center;
}

.conteiner {
  background: #d3d1d1;
  display: flex;
  margin: auto;
  width: 80vw;
}

.content_categories {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 28%;
}
